<div class="city-edit">
    <h1>{{title}}</h1>
    <p *ngIf="this.id && !city"><em>Loading...</em></p>
    <div [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput formControlName="name" required placeholder="Type a name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Latitude:</mat-label>
            <input matInput formControlName="lat" required placeholder="Insert latitude">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Longitude:</mat-label>
            <input matInput formControlName="lon" required placeholder="Insert Longitude">
        </mat-form-field>

        <p *ngIf="countries">
            <mat-select id="countryId" formControlName="countryId">
                <mat-option value="">--- Select a country---</mat-option>
                <mat-option *ngFor="let country of countries" [value]="country.id">
                    {{country.name}}
                </mat-option>
            </mat-select>
        </p>

        <div>
            <button mat-flat-button color="primary" type="submit" (click)="onSubmit()">
                {{this.id ? "Save" : "Create"}}
            </button>
            <button mat-flat-button color="secondary" [routerLink]="['/cities']">
                Cancel
            </button>
        </div>
    </div>
</div>